 # PYTHON EXPRESSIONS, VARIABLES, STRINGS

## Strings Basics

In [ ]:
# introduced in Python 3.6, f-strings are a new way to format strings in Python. 
# They are prefixed with 'f' and use curly braces {} to enclose the variables that will be formatted.

name = "John"
age = 30
print(f"My name is {name} and I am {age} years old")

My name is John and I am 30 years old

In [ ]:
name = "John"
age = 30
print("My name is {} and I am {} years old.".format(name, age))

My name is John and I am 30 years old.

In [8]:
name = "John"
age = 30
print("My name is %s and I am %d years old." % (name, age))

My name is John and I am 30 years old.

In [39]:
# Raw String (r")

regular_string = "C:\new_folder\file.txt"
print("Regular String:", regular_string)

Regular String: C:
ew_folderile.txt

In [40]:
raw_string = r"C:\new_folder\file.txt"
print("Raw String:", raw_string)

Raw String: C:\new_folder\file.txt

## Expressions

In [9]:
43 + 60 +16 + 41

160

In [10]:
50 - 60

-10

In [11]:
5 * 5

25

In [12]:
25 / 5

5.0

In [13]:
25 / 6

4.166666666666667

In [15]:
# Using double slash gives the result as rounded down to the nearest integer.

25 // 5

5

In [16]:
25 // 6

4

In [17]:
160 // 60

2

In [19]:
(30 + 2) * 60

1920

## Variables

In [24]:
x = 43 + 60 +16 + 41
print(x)

160

In [22]:
print(x)

160

In [25]:
y = x / 60
y

2.6666666666666665

In [26]:
x = x / 60
x

2.6666666666666665

In [27]:
total_min = 43 + 42 + 57 
total_min

142

In [28]:
total_hours = total_min / 60
total_hours

2.3666666666666667

In [29]:
total_hours = (43 + 42 + 57) / 60
total_hours

2.3666666666666667

Write an expression to add 30 and 20 and subtract 40

In [30]:
30 + 20 - 40

10

Write an expression to subtract 5 from 55 and divide the result by 10

In [36]:
(55 - 5)/10

5.0

Write an expression to multiply 6 with 10 and divide the result by 12

In [32]:
(6 * 10) / 12

5.0

What is the value of x where x = 3 + 2 * 2

In [33]:
x = 3 + 2 * 2
x

7

What is the value of y where y = (3 + 2) * 2?

In [34]:
y = (3 + 2) * 2
y

10

What is the value of z where z = x + y?

In [35]:
z = x + y
z

17